<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="pe.bbva.proyectobbva.model.repository.UsuarioRepository">
    
    <select id="obtenerDatosUsuario" parameterType="string"
            resultType="Usuario">
        SELECT * FROM usuario WHERE Dni = #{nroDocumento}
        
    </select>
    
</mapper>
